h1{

    color: darkgoldenrod;
    background-color: black;
    border-radius: 10px;

}


h2{

    color: aqua;
    background-color: rebeccapurple;
    border-radius: 5px;

}


.Deporte{

    color: dodgerblue;
    background-color: plum;
    border-radius: 5px;
}

.musica{

    color: red;
    background-color: bisque;
    border-radius: 5px;
}


.serie{

    color: brown;
    background-color: blueviolet;
    border-radius: 5px;

}

.lib{

    color: cadetblue;
    background-color: chocolate;
    border-radius: 5px;


}

.hard{

    color: white;
    background-color: tomato;
    border-radius: 3px;


}

